@charset "UTF-8";


.map{
	width:800px;
	position:relative;
	left:250px;
}

.reviews{
	width:800px;
	height:250px;
	position:relative;
	left:250px;
	top:50px;


}
.content{
	width:450px;
	height:250px;
	position:relative;
	left:200px;
	top:100px;
	float:left;
}

h1{
	text-align:center;
}


ul{list-style:none;}

.nav-link{
	position:relative;
	left:30px;
}

.bestReivew{
	height:250px;
	background-color: #369;
	position:relative;
	left:300px;
	float: right;
	font-size:9pt;
}

img{
	width:200x;
	height:250px;
}